{% extends 'dashboard/abituriyent/base.html' %}
{% load static %}

{% block main_content %}
<div class="col-xl-9 col-lg-9 col-md-8">
    <div class="bd-dashboard-inner">
        <div class="bd-dashboard-status-box mb-30">
            <div class="bd-dashboard-title-inner">
                <h4 class="bd-dashboard-title">Hujjatlar holati</h4>
            </div>
            <div class="container p-0">
                <div class="row gy-30 justify-content-center">
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                        <div class="bd-counter-wrapper bd-counter-style-six">
                            <div class="bd-counter-item">
                                <div class="bd-counter-content">
                                    <span class="bd-counter-icon bg-two"><i class="fa-solid fa-id-card"></i></span>
                                    <h4>
                                        <span>Passport</span>
                                    </h4>
                                    {% if profile %}
                                        <p class="text-success">{{ profile.passport_series }}</p>
                                    {% else %}
                                        <p class="text-warning">Passport kiritilmagan</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                        <div class="bd-counter-wrapper bd-counter-style-six">
                            <div class="bd-counter-item">
                                <div class="bd-counter-content">
                                    <span class="bd-counter-icon bg-two"><i
                                            class="fa-solid fa-graduation-cap"></i></span>

                                    <h4>
                                        <span>Diplom</span>
                                    </h4>
                                    {% if profile and user.diplom or profile and user.transfer_diplom %}
                                        {% if user.diplom %}
                                            <p>{{ user.diplom.university_name }}</p>
                                        {% elif user.transfer_diplom %}
                                            <p>{{ user.transfer_diplom.university_name }}</p>
                                        {% endif %}
                                    {% else %}
                                        <p class="text-warning">Diplom ma'lumotlari topilmadi</p>
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                        <div class="bd-counter-wrapper bd-counter-style-six">
                            <div class="bd-counter-item">
                                <div class="bd-counter-content">
                                    <span class="bd-counter-icon bg-two"><i
                                            class="fa-solid fa-clipboard-check"></i></span>
                                    <h4>
                                        <span>Ariza</span>
                                    </h4>
                                    {% if profile and user.application %}
                                        <p>{{ user.application.status }}</p>
                                    {% else %}
                                        <p class="text-warning">Ariza topshirilmagan</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bd-dashboard-inner">
        <div class="bd-dashboard-reviews-wrapper">
            <div class="bd-dashboard-review-item mb-30">
                <h5 class="title underline"><a href="{% url 'dashboard:abituriyent_passport' %}">Passport ma'lumotlari</a></h5>
                <div class="course-info d-flex align-content-center justify-content-between flex-wrap gap-2 mb-10">
                    <div class="bd-course-rating-wrap d-flex align-items-center gap-10">
                        <div class="bd-course-rating-text">
                            {% if profile %}
                                <span>{{ profile.get_full_name }}</span>
                            {% else %}
                                <span class="text-warning">Passport ma'lumotlari kiritilmagan</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="bd-button-action">
                        <a class="bd-default-tooltip view" href="{% url 'dashboard:abituriyent_passport' %}"><span><i
                                class="fas fa-arrow-right"></i></span></a>
                    </div>
                </div>
            </div>

            <div class="bd-dashboard-review-item mb-30">
                <h5 class="title underline"><a href="#">Diplom ma'lumotlari</a></h5>
                <div class="course-info d-flex align-content-center justify-content-between flex-wrap gap-2 mb-10">
                    <div class="bd-course-rating-wrap d-flex align-items-center gap-10">
                        <div class="bd-course-rating-text">
                            {% if profile and user.diplom or profile and user.transfer_diplom %}
                                {% if user.diplom %}
                                    <span>{{ user.diplom.university_name }}</span>
                                {% elif user.transfer_diplom %}
                                    <span>{{ user.transfer_diplom.university_name }}</span>
                                {% endif %}
                            {% else %}
                                <span class="text-warning">Diplom ma'lumotlari topilmadi</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="bd-button-action">
                        <a class="bd-default-tooltip view" href="#"><span><i
                                class="fas fa-arrow-right"></i></span></a>
                    </div>
                </div>
            </div>

            <div class="bd-dashboard-review-item mb-30">
                <h5 class="title underline"><a href="#">Ariza holati</a></h5>
                <div class="course-info d-flex align-content-center justify-content-between flex-wrap gap-2 mb-10">
                    <div class="bd-course-rating-wrap d-flex align-items-center gap-10">
                        <div class="bd-course-rating-text">
                            {% if profile and user.application %}
                                <p>{{ user.application.status }}</p>
                            {% else %}
                                <p class="text-warning">Ariza topshirilmagan</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="bd-button-action">
                        <a class="bd-default-tooltip view" href="#"><span><i
                                class="fas fa-arrow-right"></i></span></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock main_content %}
