{% extends 'dashboard/abituriyent/base.html' %}
{% load static %}

{% block main_content %}
<div class="col-xl-9 col-lg-9 col-md-8">
    <div class="bd-dashboard-inner">
        <div class="bd-dashboard-status-box mb-30">
            <div class="bd-dashboard-title-inner">
                <h4 class="bd-dashboard-title">Hujjatlar holati</h4>
            </div>
            <div class="container p-0">
                <div class="row gy-30 justify-content-center">
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                        <div class="bd-counter-wrapper bd-counter-style-six">
                            <div class="bd-counter-item">
                                <div class="bd-counter-content">
                                                            <span class="bd-counter-icon bg-two"><i
                                                                    class="fa-solid fa-book-open"></i></span>
                                    <h2 class="bd-counter-title"><span
                                            data-purecounter-duration="1"
                                            data-purecounter-end="15"
                                            class="purecounter">0</span>
                                    </h2>
                                    <p>Total Courses Taken</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                        <div class="bd-counter-wrapper bd-counter-style-six">
                            <div class="bd-counter-item">
                                <div class="bd-counter-content">
                                                            <span class="bd-counter-icon bg-two"><i
                                                                    class="fa-solid fa-user-check"></i></span>
                                    <h2 class="bd-counter-title"><span
                                            data-purecounter-duration="1"
                                            data-purecounter-end="11"
                                            class="purecounter">0</span>
                                    </h2>
                                    <p>Courses Enrolled</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                        <div class="bd-counter-wrapper bd-counter-style-six">
                            <div class="bd-counter-item">
                                <div class="bd-counter-content">
                                                            <span class="bd-counter-icon bg-two"><i
                                                                    class="fa-solid fa-book-reader"></i></span>
                                    <h2 class="bd-counter-title"><span
                                            data-purecounter-duration="1"
                                            data-purecounter-end="09"
                                            class="purecounter">0</span>
                                    </h2>
                                    <p>Active Courses</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bd-dashboard-inner">

        <div class="bd-dashboard-reviews-wrapper">
            <div class="bd-dashboard-review-item mb-30">
                <h5 class="title underline"><a href="courses-details.html">Full Stack Web
                    Development with MERN</a></h5>
                <div class="course-info d-flex align-content-center justify-content-between flex-wrap gap-2 mb-10">
                    <div class="bd-course-rating-wrap d-flex align-items-center gap-10">
                        <div class="bd-course-rating-icon fs-14 d-flex rating-color">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="bd-course-rating-text">
                            <span>4.8 (258)</span>
                        </div>
                    </div>
                    <div class="bd-button-action">
                        <a class="bd-default-tooltip edit" href="instructor-reviews.html#"><span><i
                                class="fa-light fa-pen-to-square"></i></span></a>
                        <a class="bd-default-tooltip view" href="instructor-reviews.html#"><span><i
                                class="fa-sharp fa-light fa-eye"></i></span></a>
                        <a class="bd-default-tooltip delete" href="instructor-reviews.html#"><span><i
                                class="fa-light fa-trash-can"></i></span></a>
                    </div>
                </div>
                <p>So I said lurgy dropped a clanger Jeffrey bugger cuppa gosh David blatant
                    have
                    it, standard A bit of how's your father my lady absolutely.</p>
            </div>
            <div class="bd-dashboard-review-item mb-30">
                <h5 class="title underline"><a href="courses-details.html">Web Development with
                    PHP
                    & Laravel</a></h5>
                <div class="course-info d-flex align-content-center justify-content-between flex-wrap gap-2 mb-10">
                    <div class="bd-course-rating-wrap d-flex align-items-center gap-10">
                        <div class="bd-course-rating-icon fs-14 d-flex rating-color">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="bd-course-rating-text">
                            <span>4.8 (258)</span>
                        </div>
                    </div>
                    <div class="bd-button-action">
                        <a class="bd-default-tooltip edit" href="instructor-reviews.html#"><span><i
                                class="fa-light fa-pen-to-square"></i></span></a>
                        <a class="bd-default-tooltip view" href="instructor-reviews.html#"><span><i
                                class="fa-sharp fa-light fa-eye"></i></span></a>
                        <a class="bd-default-tooltip delete" href="instructor-reviews.html#"><span><i
                                class="fa-light fa-trash-can"></i></span></a>
                    </div>
                </div>
                <p>So I said lurgy dropped a clanger Jeffrey bugger cuppa gosh David blatant
                    have
                    it, standard A bit of how's your father my lady absolutely.</p>
            </div>
            <div class="bd-dashboard-review-item mb-30">
                <h5 class="title underline"><a href="courses-details.html">Digital Marketing
                    Mastery
                    seo & Social Media</a></h5>
                <div class="course-info d-flex align-content-center justify-content-between flex-wrap gap-2 mb-10">
                    <div class="bd-course-rating-wrap d-flex align-items-center gap-10">
                        <div class="bd-course-rating-icon fs-14 d-flex rating-color">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="bd-course-rating-text">
                            <span>4.8 (258)</span>
                        </div>
                    </div>
                    <div class="bd-button-action">
                        <a class="bd-default-tooltip edit" href="instructor-reviews.html#"><span><i
                                class="fa-light fa-pen-to-square"></i></span></a>
                        <a class="bd-default-tooltip view" href="instructor-reviews.html#"><span><i
                                class="fa-sharp fa-light fa-eye"></i></span></a>
                        <a class="bd-default-tooltip delete" href="instructor-reviews.html#"><span><i
                                class="fa-light fa-trash-can"></i></span></a>
                    </div>
                </div>
                <p>So I said lurgy dropped a clanger Jeffrey bugger cuppa gosh David blatant
                    have
                    it, standard A bit of how's your father my lady absolutely.</p>
            </div>
        </div>
    </div>
</div>
{% endblock main_content %}

